<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Lua.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Lua.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Lua.My.MySettings.ScndHndConnectionString" connectionString="Data Source=DA8226\SQLEXPRESS;Initial Catalog=ScndHnd;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <userSettings>
        <Lua.My.MySettings>
            <setting name="CARPETA_BASE" serializeAs="String">
                <value>C:\SCNDHND\BASE\</value>
            </setting>
        </Lua.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Lua.My.MySettings>
            <setting name="CARPETA_IMAGENES" serializeAs="String">
                <value>C:\SCNDHND\IMAGENES\</value>
            </setting>
            <setting name="CONEXION_SQL" serializeAs="String">
                <value>Data Source=DA8226\SQLEXPRESS;Initial Catalog=ScndHnd;Integrated Security=True</value>
            </setting>
        </Lua.My.MySettings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
